@using BOL
@{
    ViewData["Title"] = "Home Page";
    List<Cart> cart = ViewData["cart"] as List<Cart>;
      Cart cartitem = ViewData["cartitem"] as Cart;
        int count = 0;
        double sum = 0;
}

<div>
    <div class="text-center">
        <h1 class="display-4">Your Cart</h1>
    </div>
    <div>
        
        <table border='2' class="table table-striped">
        <tr>
            <th>Sr no</th>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>UnitPrice</th>
            <th>Total</th>
        </tr>
        @foreach (var c in cart)
        { var total = c.Quantity * c.UnitPrice;
            count++;
            sum += total;
            if(cartitem.ProductId == c.ProductId){
              <form method="post" action="/ShoppingCart/Update" >
              <input type="hidden" value=@c.Id id="id" name="id"/>
                    <td>@count</td>
                    <td>@c.ProductId</td>
                    <td><input type="number" value=@c.Quantity id="quantity" name="quantity"/></td>
                    <td>@c.UnitPrice</td>
                    <td><button action="submit" class="btn btn-primary" id="btn" name="btn">Update</button></td>
              </form>
            }
            else{
            <tr>
                    <td>@count</td>
                    <td>@c.ProductId</td>
                    <td>@c.Quantity</td>
                    <td>@c.UnitPrice</td>
                    <td>@total</td>
                    
            </tr>
            }
        }
    </table>
    </div>

</div>